---
Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-c-arrays,
    google-*,
    hicpp-*,
    -hicpp-uppercase-literal-suffix,
    -hicpp-avoid-c-arrays,
    llvm-*,
    -llvm-header-guard,
    misc-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers

WarningsAsErrors: ""

CheckOptions:
  - { key: readability-implicit-bool-conversion.AllowPointerConditions, value: true       }
  - { key: readability-identifier-naming.NamespaceCase,                 value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,                    value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,         value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,                  value: lower_case }
  - { key: readability-identifier-naming.VariableCase,                  value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,           value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,         value: _          }
  - { key: readability-identifier-naming.MacroDefinitionCase,           value: UPPER_CASE }
